body{
	/*margin: 0;
	padding: 0;
	*/
}
p{
	margin: 0.3%;
}

div#topbar.container-fluid{

	background-color: #413c45;	
}



.nav-tabs {
    border-bottom: 0;
    }


.dropdown-menu li{
	padding:8px;
}

.caret{
	border-top: none;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: white;
    border: none;
}

.active1{
	border-bottom: solid 6px blue;
	
}
.active2{
	color: red !important;
}




.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
	border: none;
}



div.item.active img{
    height:auto;
}
div.col-lg-3 img{
width: 100%
}
	


}
div.col-lg-3{
	
	   width: auto;

}

input.form-control{
background: rgba(128, 128, 128, 0.06);
	}


span{
	color:rgba(0, 184, 255, 0.79) ;
	font-weight: bold;
}
p {
	color: white;
}


input.form-control{
    background-image: url(img/ico-loupe.png);
    background-position: 170px 7px;
    background-repeat: no-repeat;
}

ul.list-unstyled.list-inline.text-center li a{
	color: #33b1b7;
}

ul.nav.nav-tabs li a {
	color: black;
	font-weight: bold;
}

