/*=========================

font-family: 'Roboto Condensed', sans-serif;

Greenish Blue : #34c6d3 (Buttons, Icons, Links, Lines & Backgrounds)
Steel Gray    : #41464b  (headings)
Blue Bayoux   : #64707b (Paragraphs)
White         : #fff
BLack         : #000
=======================*/


/*=========================

IMPORTANT THINGS/SOURCES USED IN THIS PROJECT

FONTPAIR=> TO FIND A FONT FONTPAIR
FONT PLAYGROUND CHROME PLUGIN=> TO SEE LIVE PREVIEW FOR OTHER FONTS APPLIED
COLOR THEME COMBINATION SCHMEME FOR WEBSITE=>
=======================*/
html,body{
  height: 100%;
}
body{
  font-family: 'Roboto Condensed', sans-serif;
}
h3{
  text-transform: uppercase;
}

#home{
  height: 100%;
}
#home-cover{
  height: 100%;
  background-image: url("../img/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home-content-box{
  height: 100%;
  width: 100%;
  display: table;
}

#home-content-box-inner{
  display: table-cell;
  vertical-align: middle;
  /* text-align: center; */
}
#home-heading h3{
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  margin:20px 0;
  text-transform: uppercase;
}
