body{
	/*margin: 0;
	padding: 0;
	*/
}
p{
	margin: 0.3%;
}

div#topbar.container-fluid{

	/*background: #00795f;*/
	/*width: 100%;*/
	/*padding: 15px 0;*/
	background-color: #413c45;
	
	/*text-align: center;*/
	/*font-size: 1.5em;*/
}




.nav-tabs {
    border-bottom: 0;
    }

 /*   .ultop{
    	
    	list-style-type: none;
    	
    }*/
       li{
	
  /* float: right;*/
  /* margin-left: 30px;*/
}

.dropdown-menu li{
	padding:8px;
}

.caret{
	border-top: none;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: white;
    border: none;
}

.active1{
	border-bottom: solid 6px blue;
	
}




.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
	border: none;
}



div.item.active img{
    height:auto;
}
div.col-lg-3 img{
width: 100%
}
	


}

div.col-lg-3{
	
	   width: auto;

}
input.form-control{
background: rgba(128, 128, 128, 0.06);
	}


span{
	color:rgba(0, 184, 255, 0.79) ;
	font-weight: bold;
}
p {
	color: white;
}
