body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header{
	background: #00795f;
	width: 100%;
	padding: 15px 0;
	color: #fff;
	text-align: center;
	font-size: 1.5em;
}

header  {
/*   font-size: 1.5em;
   font-weight: bold;
   margin-left: 50px;
   line-height: 50px;
   margin-top: 0;*/
   
}
span{
	color:blue;
}

.nav {
    padding-left: 20%;
    padding-top: 140px;
    }


    .glyphicon {
    	color: white;
    padding-right: 10px;
}


.nav-tabs {
    border-bottom: 0;
    }

 /*   .ultop{
    	
    	list-style-type: none;
    	
    }*/
       li{
	
  /* float: right;*/
  /* margin-left: 30px;*/
}

