
/*IMPORTANT THINGS*

Use rem instead of em
rem works in relation with default HTML font size
em works in relation with their parent element as well as default HTML font size, hence makes it complicated

darken background color on :hover
background-color:darken($your_color_name,15%);
background-color:lighten($your_color_name,15%);


SAVE A BLOCK OF CODE IN A VARIABLE

@mixin clearfix{
&::after{
content:"";
clear:both;
display:table;
}

}
@include mixin;


/


/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";


@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";

@import "pages/home";


